/* Définition des polices personnalisées */
@font-face {
  font-family: "Raleway";
  src: url("Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Elements principaux de la page */
body {
  border: 1px solid black;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin: 0%;
}

#bloc_page {
  width: 100%;
  margin: auto;
}

/* Header */
header {
  border: 1px solid violet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px 0px 30px;
}

header img {
  border: 1px solid black;
  width: 70px;
}

/* Navigation */
nav {
  border: 1px solid black;
}

nav ul {
  border: 1px solid violet;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0%;
  margin-top: 0%;
}

nav li {
  border: 1px solid black;
  font-size: 1em;
  font-weight: bold;
  width: 150px;
  text-align: center;
  margin-top: 0%;
  padding-top: 20px;
}

li a {
  text-decoration: none;
  color: black;
}

/*
li a:hover {
  border-top: 3px solid #0065fc;
}*/

li:last-child {
  color: #0065fc;
  cursor: pointer;
}

.trait_bleu:hover {
  border-top: 3px solid #0065fc;
}

/* Recherche */
section[id="section1"] {
  margin: 30px 30px 0px 30px;
}

section[id="section1"] h1 {
  font-size: 100%;
}

section[id="section1"] p {
  font-size: 1em;
}

form {
  display: flex;
  border-collapse: collapse;
}

.fa-map-marker-alt {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 0px 0px 10px;
  font-size: 1em;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1em;
  padding-left: 10px;
}

form button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-size: 1em;
}

button:last-child {
  display: none;
}

/* Filtres */
#Filtres {
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

div[id="Filtres"] h1 {
  border: 1px solid black;
  font-size: 1em;
  font-weight: bold;
  margin-right: 15px;
}

#icône_filtres {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  flex-wrap: wrap;
}

.boite {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 5px 10px 5px 5px;
  font-weight: bold;
  font-size: 1em;
}

.boite:hover {
  background-color: #deebff;
  cursor: pointer;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px 9px 10px 9px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

.fa-child {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px 13px 10px 13px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

#information {
  display: flex;
  align-items: center;
}

.fa-info-circle {
  background-color: #0065fc;
  color: white;
  border-radius: 100%;
  font-size: 30px;
  margin-right: 10px;
}

div [id="information"] p {
  font-size: 1.1em;
}

/* Hébergements */
#section2 {
  border: 1px solid black;
  margin: 30px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
/* Section2 engloble la section hébergements et l'aside populaires*/
.section2_hébergements_populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
}

.section2_hébergements_populaires:nth-child(1) {
  flex: 3;
  margin-right: 30px;
}

.section2_hébergements_populaires:nth-child(2) {
  flex: 1.2;
  padding: 10px;
}

/* Section hébergements à marseille*/
section[id="Hébergements"] h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 30px 30px 0px 30px;
}

#engloble_cartes_hébergements {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 20px 30px 20px 30px;
  height: 385px;
}

/* Pour toutes les cartes */
article {
  border-radius: 10px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

article img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

.prix {
  font-size: 0.9em;
}

.fa-star {
  color: #0065fc;
  font-size: 0.7em;
}

.icône_gris {
  color: #d9d9d9;
}

/* Carte hébergements */
.carte1 {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
}

article[class="carte1"] img {
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 3px;
}

article[class="carte1"] h2 {
  margin: 1px 0px 0px 10px;
}

article[class="carte1"] p {
  margin: 0px 0px 0px 10px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.étoiles_hébergements {
  margin-left: 10px;
  margin-bottom: 5px;
}

section[id="Hébergements"] p:last-child {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0px 30px 30px 30px;
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#titre_icons {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 6px 20px 0px 20px;
}

aside h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fa-chart-line {
  font-size: 1.1em;
}

.ticket2 {
  border: 1px solid black;
  background-color: white;
  margin: 0px 20px 5px 20px;
  display: flex;
  width: 300px;
}

aside img {
  width: 105px;
  height: 110px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cadre_text_aside {
  margin: 5px 0px 5px 10px;
}

aside h2 {
  margin-top: 5px;
}

aside p {
  margin-top: -8px;
}

.icons_aside {
  margin-top: 20px;
}

/* Activités */
#Activités {
  border: 1px solid black;
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section[id="Activités"] h1 {
  border: 1px solid black;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0px;
}

#titre_image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
}

.deux_cartes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*height: 100%;*/
}

section[id="Activités"] img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

section[id="Activités"] h2 {
  margin: 10px 0px 5px 10px;
}

.carte3 {
  height: 100%;
  width: 270px;
}

article[class="carte3"] img {
  height: 300px;
}

.carte4 {
  width: 270px;
  height: 180px;
}

article[class="carte4"] img {
  height: 130px;
}

.carte5 {
  width: 270px;
  height: 130px;
}

article[class="carte5"] img {
  height: 85px;
}

.carte6 {
  width: 270px;
  height: 155px;
}

article[class="carte6"] img {
  height: 110px;
}

/* Footer */
footer {
  border: 1px solid black;
  display: flex;
  background-color: #f2f2f2;
  height: 180px;
}

.lien:nth-child(1) {
  flex: 1.2;
  margin-left: 30px;
  margin-top: 10px;
}

.lien:nth-child(2) {
  flex: 1;
  margin-top: 10px;
}

.lien:nth-child(3) {
  flex: 1.2;
  margin-top: 10px;
}

footer p {
  font-size: 0.9em;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

/* @média (type) carateristique */

/* Tablette */

@media all and (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: gray;
  }

  /* Hébergements */
  #engloble_cartes_hébergements {
    height: auto;
  }

  #section2 {
    border: 1px solid black;
    height: 1200px;
  }

  /* Activités */

  /*section[id="Activités"] h1 {
    width: auto;
  }*/

  #titre_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0px;
    height: auto;
  }

  .deux_cartes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carte3,
  .carte4,
  .carte5,
  .carte6 {
    height: 180px;
    width: 270px;
  }

  article[class="carte3"] img {
    height: 130px;
  }

  article[class="carte4"] img {
    height: 130px;
  }

  article[class="carte5"] img {
    height: 130px;
  }

  article[class="carte6"] img {
    height: 130px;
  }
}

/* Mobile */
@media all and (max-width: 480px) {
  /* Elements principaux de la page */
  #bloc_page {
    width: auto;
  }

  /* Header */
  header {
    border: 1px solid violet;
    display: flex;
    justify-content: none;
    align-items: center;
    margin: 0px 30px 0px 30px;
    height: 200px;
  }

  header img {
    border: 1px solid black;
    width: 70px;
  }

  /* Navigation */
  nav {
    border: 1px solid black;
  }

  nav ul {
    border: 1px solid green;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0px;
    margin-top: none;
    margin-bottom: 0%;
  }

  nav li {
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    width: auto;
    text-align: center;
    margin-top: none;
    padding-top: 0px;
  }

  li:last-child {
    color: #0065fc;
    cursor: pointer;
  }

  .trait_bleu:hover {
    border-top: 3px solid #0065fc;
  }

  /*
  a {
    border-bottom: 3px solid grey;
  }

  li a:hover {
    border-top: 0px;
    border-bottom: 3px solid #0065fc;
  } */

  /* Recherche */
  section[id="section1"] {
    border: 1px solid black;
  }

  button:last-child {
    display: initial;
    margin-left: -35px;
    width: 40px;
    height: 40px;
  }

  #sans_icône {
    display: none;
  }

  section[id="section1"] h1 {
    font-size: auto;
  }

  input {
    padding-left: auto;
  }

  /* Filtres */
  #Filtres {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  div[id="Filtres"] h1 {
    margin-right: 0px;
  }

  #icône_filtres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    align-content: space-between;
  }

  /* Hébergements */
  #section2 {
    border: 1px solid black;
    margin: 30px 0px 30px 0px;
  }

  .section2_hébergements_populaires:nth-child(1) {
    border: 1px solid black;
    background-color: white;
    margin-top: 30px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section2_hébergements_populaires:nth-child(2) {
    padding: 0px;
    border: 1px solid black;
  }

  #engloble_cartes_hébergements {
    height: auto;
    align-items: center;
    margin: 10px 10px 10px 10px;
  }

  article[class*="carte"] {
    width: 270;
    height: 180px;
    margin-bottom: 30px;
  }

  /* Aside */

  #titre_icons {
    width: auto;
    margin-bottom: 10px;
  }

  .ticket2 {
    width: 300px;
  }

  /* Activités */
  #Activités {
    border: 1px solid black;
    margin: 30px 0px 30px 0px;
  }

  section[id="Activités"] h1 {
    width: auto;
  }

  #titre_image {
    border: 1px solid black;
    align-content: space-between;
    padding: 0%;
    margin: 10px 10px 10px 10px;
  }

  .deux_cartes {
    height: auto;
  }

  article[class="carte3"] img {
    height: 130px;
  }

  article[class="carte4"] img {
    height: 130px;
  }

  article[class="carte5"] img {
    height: 130px;
  }

  article[class="carte6"] img {
    height: 130px;
  }

  /* Footer */
  footer {
    border: 1px solid black;
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .lien:nth-child(2) {
    margin-left: 30px;
  }

  .lien:nth-child(3) {
    margin-left: 30px;
  }
}
