/* Définition des polices personnalisées */
@font-face {
  font-family: "Raleway";
  src: url("Raleway/static/Raleway-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Elements principaux de la page */

body {
  margin: 0%;
}

#bloc_page {
  font-family: "Raleway", sans-serif;
  margin: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 0px 30px;
  position: relative;
}

header img {
  width: 80px;
}

/* Navigation */

nav {
  padding: 0%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  margin: 0%;
}

nav li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0%;
  width: 150px;
}

li:last-child {
  color: #0065fc;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: black;
}

.trait_bleu:hover {
  border-top: 3px solid #0065fc;
}

li a:hover {
  color: #0065fc;
}

/* Recherche */

section[id="section1"] {
  margin: 0px 30px 0px 30px;
}

section[id="section1"] h1 {
  font-size: 1.4em;
  font-weight: bold;
}

section[id="section1"] p {
  font-size: 1em;
}

form {
  display: flex;
  border-collapse: collapse;
}

.fa-map-marker-alt {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 0px 0px 10px;
  font-size: 1em;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 10px;
}

form button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-size: 1em;
}

button:last-child {
  display: none;
}

/* Filtres */

#Filtres {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

div[id="Filtres"] h1 {
  font-size: 1em;
  font-weight: bold;
  margin-right: 15px;
}

#icône_filtres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.boite {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 5px 10px 5px 5px;
}

.boite:hover {
  background-color: #deebff;
  cursor: pointer;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px 9px 10px 9px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

.fa-child {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px 13px 10px 13px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

.fa-heart,
.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 100%;
  margin: -6px;
  margin-right: 10px;
}

.catégorie_filtres {
  font-weight: bold;
  font-size: 1em;
}

#information {
  display: flex;
  align-items: center;
}

.fa-info-circle {
  background-color: #0065fc;
  color: white;
  border-radius: 100%;
  font-size: 30px;
  margin-right: 10px;
}

div[id="information"] p {
  font-size: 0.9em;
}

/* Hébergements */

#section2 {
  margin: 30px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

/* Section2 Hébergements et Les plus Populaires*/

.section2_hébergements_populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
}

.section2_hébergements_populaires:nth-child(1) {
  flex: 3;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2_hébergements_populaires:nth-child(2) {
  flex: 1.2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Section Hébergements à marseille*/

section[id="Hébergements"] h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 30px 30px 0px 30px;
}

#engloble_cartes_hébergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 20px 30px 0px 30px;
  height: 100%;
}

/* Pour toutes les cartes */

article {
  border-radius: 10px;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

article img {
  object-fit: cover;
}

div[id="section2"] a,
section[id="Activités"] a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 0.8em;
  font-weight: bold;
}

.prix {
  font-size: 0.9em;
}

.fa-star {
  color: #0065fc;
  font-size: 0.8em;
}

.icône_gris {
  color: #d9d9d9;
}

/* Carte hébergements */

.carte1 {
  width: 30%;
  height: 190px;
}

article[class="carte1"] a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

article[class="carte1"] img {
  height: 110px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 3px;
}

article[class="carte1"] h2 {
  margin: 5px 0px 0px 10px;
}

article[class="carte1"] p {
  margin: 5px 0px 0px 10px;
}

em {
  font-weight: bold;
  font-style: normal;
}

.étoiles_hébergements {
  margin: 5px 0px 5px 10px;
}

section[id="Hébergements"] p:last-child {
  font-weight: bold;
  font-size: 1.2em;
  margin: 20px 30px 20px 30px;
}

/* Aside */

#titre_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 10px 20px;
}

aside h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.fa-chart-line {
  font-size: 1.1em;
}

#tickets_images {
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ticket2 {
  width: 100%;
  height: 140px;
  margin-bottom: 10px;
}

article[class="ticket2"] a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

article[class="ticket2"] img {
  width: 30%;
  height: 90%;
  margin: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cadre_text_aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 70%;
}

aside h2 {
  width: 100%;
}

aside p {
  margin-top: -20px;
  width: 100%;
}

.icons_aside {
  width: 100%;
}

/* Activités */

#Activités {
  margin: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section[id="Activités"] h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 0px;
}

#titre_image {
  display: flex;
  justify-content: space-between;
}

.deux_cartes {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section[id="Activités"] img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

section[id="Activités"] h2 {
  margin: 10px 0px 5px 10px;
}

div[id="titre_image"] a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.carte3 {
  width: 22%;
}

article[class="carte3"] img {
  height: 300px;
}

.carte4 {
  width: 100%;
}

article[class="carte4"] img {
  height: 160px;
}

.carte5 {
  width: 100%;
}

article[class="carte5"] img {
  height: 85px;
}

.carte6 {
  width: 100%;
}

article[class="carte6"] img {
  height: 110px;
}

/* Footer */

footer {
  display: flex;
  background-color: #f2f2f2;
}

.lien:nth-child(1) {
  flex: 1.2;
  padding-left: 30px;
}

.lien:nth-child(2) {
  flex: 1;
}

.lien:nth-child(3) {
  flex: 1.2;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

footer p {
  font-size: 0.9em;
}

@media all and (min-width: 768px) and (max-width: 1000.98px) {
  /* Filtres */

  #icône_filtres {
    width: 100%;
  }

  /* Hébergements */

  section[id="Hébergements"] h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  #engloble_cartes_hébergements {
    margin-left: 20px;
    margin-right: 20px;
  }

  .carte1 {
    width: 32%;
    height: 165px;
  }

  article[class="carte1"] img {
    height: 90px;
  }

  section[id="Hébergements"] p:last-child {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Pour toutes les cartes */

  h2 {
    font-size: 0.7em;
  }

  .prix {
    font-size: 0.8em;
  }

  .fa-star {
    font-size: 0.6em;
  }

  /* aside */

  #titre_icons {
    margin-left: 1px;
    margin-right: 1px;
  }

  aside h1 {
    font-size: 1.1em;
  }

  #tickets_images {
    margin-right: 1px;
    margin-left: 1px;
  }

  .ticket2 {
    height: 120px;
  }

  article[class="ticket2"] img {
    width: 27%;
  }

  .cadre_text_aside {
    width: 73%;
  }

  /* Activités */

  .deux_cartes {
    height: 250px;
  }

  .carte3 {
    width: 25%;
    height: 250px;
  }

  article[class="carte4"] img {
    height: 110px;
  }

  article[class="carte5"] img {
    height: 60px;
  }

  article[class="carte6"] img {
    height: 85px;
  }
}

/* tall mobile et small tablette*/
@media all and (min-width: 481px) and (max-width: 767.98px) {
  /* Header */

  header {
    margin-right: 10px;
    margin-left: 10px;
  }

  /* Navigation */

  nav li {
    width: 120px;
  }

  /* Recherche */

  section[id="section1"] h1 {
    font-size: 1.1em;
  }

  section[id="section1"] {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Filtres */

  #Filtres {
    margin-top: 10px;
    align-items: flex-start;
    flex-direction: column;
  }

  div[id="Filtres"] h1 {
    margin-right: 0px;
  }

  #icône_filtres {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 395px;
  }

  .boite {
    margin-bottom: 10px;
  }

  #Famille {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  /* Hébergements */

  #section2 {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column-reverse;
  }

  .section2_hébergements_populaires:nth-child(1) {
    margin-right: auto;
    margin-top: 10px;
  }

  section[id="Hébergements"] h1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  #engloble_cartes_hébergements {
    align-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .carte1 {
    height: 150px;
    margin-bottom: 20px;
  }

  article[class="carte1"] img {
    height: 80px;
  }

  section[id="Hébergements"] p:last-child {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Pour toutes les cartes */
  h2 {
    font-size: 0.7em;
  }

  .prix {
    font-size: 0.8em;
  }

  .fa-star {
    font-size: 0.6em;
  }

  /* Aside */

  #titre_icons {
    margin-left: 5px;
    margin-right: 5px;
  }

  #tickets_images {
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: row;
  }

  .ticket2 {
    margin-bottom: 0px;
    margin-right: 5px;
    height: 250px;
  }

  article[class="ticket2"] a {
    flex-direction: column;
  }

  article[class="ticket2"] img {
    width: 95%;
    height: 90px;
    border-radius: 10px;
  }

  .cadre_text_aside {
    height: 90%;
    width: 90%;
  }

  /* Activités */

  #Activités {
    margin-left: 0px;
    margin-right: 0px;
  }

  section[id="Activités"] h1 {
    margin-right: 10px;
    margin-left: 10px;
  }

  #titre_image {
    margin-right: 10px;
    margin-left: 10px;
  }

  .deux_cartes {
    width: 23%;
  }

  .carte3 {
    width: 23%;
    height: 140px;
  }

  .carte4 {
    margin-bottom: 10px;
  }

  article[class="carte3"] img,
  article[class="carte4"] img,
  article[class="carte5"] img,
  article[class="carte6"] img {
    height: 100px;
  }

  /* Footer */

  .lien:nth-child(1) {
    flex: 1.2;
    padding-left: 10px;
  }

  h3 {
    font-size: 0.8em;
  }

  footer p {
    font-size: 0.7em;
  }
}

/* small et medium mobile*/
@media all and (max-width: 480.98px) {
  /* Header */

  header {
    height: 150px;
    margin: 0%;
  }

  #logo_reservia {
    position: absolute;
    top: 0px;
    left: 10px;
  }

  header img {
    width: 115px;
  }

  /* Navigation */

  #puce1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50%;
    text-align: center;
  }

  #puce2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    text-align: center;
  }

  li:last-child {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35%;
  }

  .trait_bleu {
    border-bottom: 3px solid #d9d9d9;
  }

  .trait_bleu:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  /* Recherche */

  section[id="section1"] {
    margin: 0px 20px 20px 20px;
  }

  input {
    width: 100%;
  }

  #sans_icône {
    display: none;
  }

  button:last-child {
    display: initial;
    border-radius: 10px;
    margin-left: -35px;
    padding: 10px;
  }

  /* Filtres */

  section[id="section1"] h1 {
    font-size: 1.3em;
  }

  section[id="section1"] p {
    font-size: 0.95em;
  }

  #Filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  #icône_filtres {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .boite {
    margin-bottom: 10px;
  }

  #Famille {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  #information {
    margin-top: 10px;
    align-items: flex-start;
  }

  div[id="information"] p {
    margin: auto;
    font-size: 1.1em;
  }

  .fa-info-circle {
    font-size: 20px;
  }

  /* Hébergements */

  #section2 {
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* Aside */

  .section2_hébergements_populaires:nth-child(2) {
    padding: 0px;
  }

  #titre_icons {
    margin-left: 20px;
    margin-right: 20px;
  }

  #tickets_images {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ticket2 {
    width: 100%;
  }

  /* Pour toute les cartes */
  h2 {
    font-size: 1em;
    font-weight: bold;
  }

  /* Section Hébergements à Marseille*/

  .section2_hébergements_populaires:nth-child(1) {
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
  }

  section[id="Hébergements"] h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  #engloble_cartes_hébergements {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }

  .carte1 {
    width: 100%;
    margin-bottom: 20px;
  }

  section[id="Hébergements"] p:last-child {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Activités */

  #Activités {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  section[id="Activités"] h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  #titre_image {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .deux_cartes {
    width: 100%;
  }

  .carte3,
  .carte4,
  .carte5,
  .carte6 {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
  }

  div[id="titre_image"] a {
    height: 100%;
  }

  div[id="titre_image"] img {
    height: 120px;
  }

  section[id="Activités"] h2 {
    margin-top: 15px;
  }

  /* Footer */

  footer {
    height: auto;
    flex-direction: column;
  }

  .lien:nth-child(1) {
    padding-left: 20px;
  }

  .lien:nth-child(2) {
    padding-left: 20px;
  }

  .lien:nth-child(3) {
    padding-left: 20px;
  }
}
